In [5]:
import pandas as pd

In [8]:
car=pd.read_excel('SecondToLast.xlsx')

In [9]:
car.head()

                    Brand       Price  Year  Kilometrage  Energie        Boite
0       Mercedes-Benz GLA  138 500 DT  2012       105000  Essence     Manuelle
1  Mercedes-Benz Classe E  227 000 DT  2015       320000  Essence  Automatique
2             BMW Série 5  260 000 DT  2016        78000  Essence     Manuelle
3             BMW Série 3  126 000 DT  2017         7000  Essence     Manuelle
4             BMW Série 5  117 500 DT  2012         4400  Essence     Manuelle

In [11]:
car.shape

(2885, 6)

In [12]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2885 entries, 0 to 2884
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        2885 non-null   object
 1   Price        2885 non-null   object
 2   Year         2885 non-null   int64
 3   Kilometrage  2885 non-null   int64
 4   Energie      2885 non-null   object
 5   Boite        2885 non-null   object
dtypes: int64(2), object(4)
memory usage: 135.4+ KB

#Issues of quality  
- a lot of data in Price column contain the word (Dt)
- Price column also contain a Nan objects
- kilometrage column contain zeros

In [14]:
car['Year'].unique()

array([2012, 2015, 2016, 2017, 2014, 2018, 2019, 2011, 2010, 2009, 2013,
       2020, 2007, 2006, 2002, 2008, 1995, 1977, 2001, 1999, 2005, 2003,
       2004, 1996, 2000, 1994, 1980, 1998, 1984, 1997, 1982, 1991, 1969,
       1989, 1990], dtype=int64)

In [15]:
car['Price'].unique()

array(['138 500 DT', '227 000 DT', '260 000 DT', '126 000 DT',
       '117 500 DT', 'N.C', '175 000 DT', '148 500 DT', '91 500 DT',
       '63 200 DT', '62 500 DT', '150 000 DT', '199 000 DT', '320 000 DT',
       '88 000 DT', '239 000 DT', '193 000 DT', '160 000 DT',
       '189 000 DT', '144 000 DT', '70 000 DT', '125 000 DT',
       '110 000 DT', '83 000 DT', '79 000 DT', '78 000 DT', '112 000 DT',
       '69 500 DT', '53 000 DT', '77 000 DT', '82 000 DT', '60 000 DT',
       '67 000 DT', '33 000 DT', '43 000 DT', '62 000 DT', '35 000 DT',
       '39 000 DT', '30 500 DT', '34 000 DT', '10 500 DT', '69 000 DT',
       '96 000 DT', '23 000 DT', '28 000 DT', '57 000 DT', '26 000 DT',
       '65 000 DT', '59 500 DT', '37 500 DT', '52 000 DT', '68 000 DT',
       '45 000 DT', '32 900 DT', '38 500 DT', '54 000 DT', '26 500 DT',
       '35 500 DT', '55 000 DT', '48 500 DT', '34 500 DT', '19 500 DT',
       '33 900 DT', '32 000 DT', '40 000 DT', '39 500 DT', '50 000 DT',
       '25 900 DT', '33 500 DT', '36 000 DT', '47 500 DT', '30 000 DT',
       '49 000 DT', '17 900 DT', '11 500 DT', '75 000 DT', '72 500 DT',
       '43 900 DT', '67 500 DT', '69 900 DT', '73 500 DT', '22 900 DT',
       '98 000 DT', '140 000 DT', '73 000 DT', '79 900 DT', '95 000 DT',
       '37 000 DT', '120 000 DT', '166 000 DT', '38 000 DT', '72 000 DT',
       '92 000 DT', '74 000 DT', '43 500 DT', '66 000 DT', '99 000 DT',
       '116 000 DT', '195 000 DT', '68 900 DT', '47 900 DT', '30 900 DT',
       '25 500 DT', '23 900 DT', '32 500 DT', '49 500 DT', '18 000 DT',
       '56 000 DT', '18 900 DT', '46 500 DT', '20 900 DT', '38 900 DT',
       '46 000 DT', '185 000 DT', '127 000 DT', '24 900 DT', '28 900 DT',
       '44 500 DT', '44 900 DT', '65 900 DT', '147 000 DT', '36 500 DT',
       '27 000 DT', '29 500 DT', '21 500 DT', '45 500 DT', '124 900 DT',
       '40 900 DT', '68 500 DT', '51 500 DT', '135 000 DT', '58 000 DT',
       '129 000 DT', '139 000 DT', '109 000 DT', '89 000 DT', '89 500 DT',
       '86 500 DT', '79 500 DT', '63 900 DT', '50 900 DT', '44 000 DT',
       '64 900 DT', '27 900 DT', '42 000 DT', '29 900 DT', '26 900 DT',
       '54 500 DT', '49 900 DT', '63 000 DT', '31 500 DT', '47 000 DT',
       '28 500 DT', '36 900 DT', '37 900 DT', '31 000 DT', '24 500 DT',
       '23 500 DT', '59 000 DT', '27 500 DT', '42 500 DT', '35 900 DT',
       '31 900 DT', '18 500 DT', '41 000 DT', '21 000 DT', '12 000 DT',
       '66 500 DT', '64 000 DT', '86 000 DT', '80 000 DT', '169 000 DT',
       '52 500 DT', '24 000 DT', '13 800 DT', '76 000 DT', '48 000 DT',
       '190 000 DT', '81 000 DT', '25 000 DT', '53 900 DT', '62 800 DT',
       '1 000 DT', '69 800 DT', '200 000 DT', '26 950 DT', '20 000 DT',
       '103 500 DT', '105 500 DT', '74 800 DT', '103 000 DT',
       '124 800 DT', '128 800 DT', '98 800 DT', '118 800 DT', '71 800 DT',
       '154 800 DT', '41 800 DT', '117 800 DT', '63 500 DT', '58 800 DT',
       '131 000 DT', '52 800 DT', '92 800 DT', '56 800 DT', '61 500 DT',
       '81 800 DT', '84 800 DT', '42 800 DT', '79 800 DT', '55 800 DT',
       '304 000 DT', '460 000 DT', '100 000 DT', '16 000 DT', '51 000 DT',
       '340 000 DT', '108 000 DT', '122 000 DT', '1 550 DT', '145 000 DT',
       '85 000 DT', '128 000 DT', '265 000 DT', '248 000 DT',
       '168 000 DT', '118 000 DT', '48 900 DT', '132 000 DT', '59 800 DT',
       '52 900 DT', '111 000 DT', '34 300 DT', '43 200 DT', '29 000 DT',
       '267 900 DT', '450 000 DT', '6 500 DT', '22 000 DT', '124 000 DT',
       '60 500 DT', '13 500 DT', '136 900 DT', '47 800 DT', '15 000 DT',
       '54 900 DT', '56 500 DT', '65 500 DT', '45 300 DT', '17 500 DT',
       '27 400 DT', '53 500 DT', '23 800 DT', '1 100 DT', '130 000 DT',
       '58 500 DT', '87 500 DT', '240 000 DT', '210 000 DT', '19 000 DT',
       '177 000 DT', '93 000 DT', '22 500 DT', '24 700 DT', '101 000 DT',
       '42 700 DT', '223 000 DT', '170 000 DT', '255 000 DT',
       '420 000 DT', '330 000 DT', '385 000 DT', '115 000 DT',
       '270 000 DT', '162 500 DT', '90 000 DT', '71 000 DT', '41 500 DT',
       '22 800 DT', '21 600 DT', '38 200 DT', '20 500 DT', '17 000 DT',
       '107 000 DT', '215 000 DT', '50 500 DT', '10 000 DT', '28 300 DT',
       '87 000 DT', '11 300 DT', '33 800 DT', '45 900 DT', '143 000 DT',
       '84 500 DT', '40 500 DT', '25 800 DT', '51 900 DT', '15 500 DT',
       '24 200 DT', '33 700 DT', '61 000 DT', '39 800 DT', '59 900 DT',
       '39 900 DT', '29 800 DT', '41 200 DT', '20 800 DT', '36 600 DT',
       '10 300 DT', '7 500 DT', '15 800 DT', '57 800 DT', '136 000 DT',
       '34 200 DT', '19 700 DT', '57 500 DT', '24 999 DT', '30 800 DT',
       '24 990 DT', '71 500 DT', '148 000 DT', '24 600 DT', '97 000 DT',
       '2 400 000 DT', '298 000 DT', '72 800 DT', '27 300 DT',
       '225 000 DT', '16 500 DT', '28 800 DT', '75 500 DT', '39 700 DT',
       '34 900 DT', '84 000 DT', '10 000 000 DT', '8 500 DT',
       '3 500 000 DT', '105 000 DT', '16 200 DT', '21 400 DT',
       '35 600 DT', '26 800 DT', '31 800 DT', '28 200 DT', '36 200 DT',
       '33 850 DT', '37 200 DT', '114 000 DT', '20 980 DT', '229 000 DT',
       '16 900 DT', '49 600 DT', '29 700 DT', '33 950 DT', '36 800 DT',
       '155 000 DT', '5 000 DT', '16 800 DT', '18 800 DT', '21 900 DT',
       '48 800 DT', '40 600 DT', '165 000 DT', '7 000 DT', '22 200 DT',
       '13 000 DT', '11 000 DT', '8 000 DT', '69 999 DT', '19 200 DT',
       '163 000 DT', '30 200 DT', '35 800 DT', '42 300 DT', '80 500 DT',
       '9 500 DT', '18 200 DT', '14 500 DT', '15 600 DT', '34 600 DT',
       '33 200 DT', '12 500 DT', '19 800 DT', '20 400 DT', '14 000 DT',
       '27 600 DT', '360 000 DT', '48 700 DT', '159 000 DT', '26 850 DT',
       '7 650 DT', '64 500 DT', '24 800 DT', '21 300 DT', '28 280 DT',
       '15 400 DT', '123 456 DT', '38 700 DT', '123 000 DT', '9 800 DT',
       '95 200 DT', '17 200 DT', '111 111 DT', '19 400 DT', '17 600 DT',
       '26 300 DT', '27 550 DT', '17 300 DT', '21 200 DT', '180 000 DT',
       '56 789 DT', '81 500 DT', '12 345 DT', '3 000 DT', '158 000 DT',
       '11 600 DT', '152 000 DT', 26000, 19000, 24500, 14900, 21000,
       17500, 17000, 22000, 20500, 16540, 27000, 24000, 18000, 15500,
       20000, 15000, 25000, 31000, 27500, 40000, 27400, 35000, 31500,
       28000, 29000, 23500, 37000, 32000, 43000, 41000, 37500, 25500,
       50000, 47000, 51000, 46000, 48000, 45000, 49000, 70000, 74000,
       76000, 75000, 72000, 68000, 78000, 62000, 12500, 8000, 7000, 10000,
       27900, 13500, 23000, 9500, 14000, 28500, '24 000 DT ', '94 000 DT',
       '95 000 DT ', 11500, 11800, 11200, 13200, 13800, 12000, 11000,
       14500, 13000, 15800, 16000, 15250, 14700, 16500, 15600, 16400,
       14800, 18500, 19500, 15700, 17300, 15200, 13700, 21500, 30000,
       29500, 16800, 22800, 28700, 25800, 32500], dtype=object)

In [17]:
car['Kilometrage'].unique()

array([105000, 320000,  78000,   7000,   4400,  83500, 100000,  47000,
       147000, 178500, 163000,  55000,  85000,  47500,  90000,      0,
       140590,   2000,  41791, 107000,  86136,  19979, 132611,  78697,
        56242,   9327, 180611,   3000, 138641, 214055,  17306,  69000,
        46000,  55705,  57999, 131329, 178857,  67976,  75299, 112000,
       120000, 109000, 128000, 209000, 185000,   5000, 191000, 124000,
        75000, 134000,  84000, 161000, 222000,  73000, 235000,  41000,
        19000, 232000, 205000, 245000,  60000, 300000, 168000, 101000,
       201000, 208000,  93000, 137000, 179000, 158000, 140000,  82000,
        36000,  91000,  96000, 189000,  42000, 165000,   1000,  86000,
       198000,  25000, 156000,  57000, 169000,  70000,  58000, 131000,
       181000,  65000,  88000, 195000, 166000, 230000,  68000, 157000,
       151000, 106000, 104000, 186000,  74000,  18000, 129000, 116000,
       261000, 247000, 174000, 160000, 118000, 175000, 272000, 184000,
       115000, 103000,  52000, 148000, 393000, 142000,  54000, 102000,
       259000, 123000, 214000,  87000,  80000, 226000, 138000,  15000,
       246000, 202000, 135000,  49000, 215000, 326000, 113000,  67000,
       114000, 132000,  92000, 194000, 182000, 330000,  26000, 146000,
        24000,  61000, 244000, 210000, 121000, 164000,  29000, 152000,
       117000, 192000, 126000, 319000, 291000, 176000,  45000, 171000,
       281000, 295000, 188000, 139000, 187000, 145000,  28000,  72000,
       141000, 302000, 267000,  64000,  10000,  21000, 173000, 162000,
       228000,  94000, 154000,  53000, 183000,  56000,  51000,  81000,
       170000,  83000, 220000, 238000,  27000, 248000, 155000, 224000,
        33000,  50000,  89000, 108000, 200000,  61900,  30000,  87500,
        59000, 143000,  20000,   4000,   6400, 130000,   3500,     64,
        62000, 119000, 175240, 250000, 110000, 258000, 190000, 166700,
        12200,     90,  95000,   7900,  63000, 125000,  65500, 150000,
       145560,  40000, 127771, 144000,  39000,  64200,  16000,    800,
        98000,  44000,  32000, 159000,  34000,  60200, 149000,  23000,
       251000, 180000, 240000,  26500,     20,   1200,      1, 280000,
        77000,   8000, 153000,   2700,  56500,   7700,  38000, 122000,
       193000,  17000, 225000, 223000, 360000,  88500, 133000, 270000,
        35000,   6000,  95500,    105, 196000,  43000, 260000,  71000,
        96600,   9000,  98315,  76000,  34700, 305000, 296000, 168600,
        85686,  63500, 127000, 167000,   5780, 111000,  68500,  66000,
       172022, 350000, 219000, 345000, 400000,  16235, 135400, 285000,
       168500, 163500,  59800,  24500, 179300,  43164, 121640,  44900,
       213000, 430000,  75500, 136000,  48000,   1111,    104,  24200,
         4580,   8600,    136, 178000, 298000, 168900, 161190,  15400,
       290000, 274344,  87800, 218000, 149500,  22000, 237000, 172300,
        85800,  97800,  38700, 276000, 288451,  61917, 222222, 234000,
        74500,  12000, 199000, 224500,  94834, 139750,  85495, 119371,
        99000, 172000,  28500,  21500,  16200,  63554, 229000, 132332,
       268000,  28100,  61500, 177000, 211000, 350009,  57481, 117500,
       147500, 640000,  37200, 440000, 212000,  33700,  12500,  37000,
        21717,    120,  73481,  70200, 311000,  31000,     55,   2200,
        51592, 177300, 273000, 239369,  63350, 340000, 207000, 104890,
       271000, 280284,  70500,  21700,  93200,  78450,  92300,  66400,
        83400,   2500, 138800,    100,    119,   1900, 999999,  48300,
        64500, 282900,   5800,    121, 206000, 410000,  68800,   5400,
       252000,     56, 243000,  14558, 116236, 203000, 151527,  64300,
       227000, 197000,  26600,   6800,  94500, 480000, 171300,  27500,
        11000,  72500, 287000,  40956,  14800,    147,     89, 188831,
       325000, 257000, 450000, 185900,  20100, 146577, 108800, 470000,
          130,   8500, 100500, 254000, 266200,  82902,    636, 255000,
       386000,  99100, 372000, 249666,  99617,   6500,     72,  18094,
        16300,  26650,  22500, 121900,   4100, 110647,  46500,  77653,
        66148, 112922,  93300, 292000, 269000, 136200,  96387,  82572,
        23500,  20500,  99999,   3103, 288888,  83928,  71242, 540000,
       384000,   6100,  77819, 212317,     50,     28,  79000,   9300,
        97000,  15500, 221128, 190540, 105270,  31500,  62500, 164600,
       348000,  14000, 170600,  43500,  78200, 284556, 331000,   1800,
        14750,    112,  90674, 219500, 262000, 187600, 277000,  10700,
       126500, 113950,  98500,     25, 113789,  89300, 102883, 197700,
       317000,  63800,     80, 310000, 122800, 180862, 149480, 451345,
         1540,  37500,  73770, 880000, 239000, 117800, 308000, 380000,
         1990, 145500,     87,  22800, 217000,  86727, 194122,  36400,
        78500,    107, 204000,  13850,  49500,  13000, 174112, 100002,
        76561, 153660,  58800, 221495,  34550, 370000,    280,    295,
       500000, 342000,  98765, 322000,  16500,  81325, 101800, 174500,
       173650,  10900, 234589, 313000, 312000, 233000,  86500,  56400,
       265000, 390000, 314000, 275000, 336000], dtype=int64)

In [18]:
car['Energie'].unique()

array(['Essence', 'Diesel'], dtype=object)

In [19]:
car['Boite'].unique()

array(['Manuelle', 'Automatique', 26000, 19000, 24500, 14900, 21000,
       17500, 17000, 22000, 20500, 16540, 27000, 24000, 18000, 15500,
       20000, 15000, 25000, 31000, 27500, 40000, 27400, 35000, 31500,
       28000, 29000, 23500, 37000, 32000, 43000, 41000, 37500, 25500,
       50000, 47000, 51000, 46000, 48000, 45000, 49000, 70000, 74000,
       76000, 75000, 72000, 68000, 78000, 62000, 12500, 8000, 7000, 10000,
       27900, 13500, 23000, 9500, 14000, 28500], dtype=object)